
<div class=" content">
  <div class=" row">
    <div class=" col-lg-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Map</h4>
        </div>
        
        
        <div class="body">
          <div class="wrapper">
            <div class="env">            
              <ul>
                  <li *ngFor="let item of section1" #elem id={{item.id}}>
                    <div class="step">
                    {{ item.name}} 
                    <div class="area"> {{item.type}}</div>
                      <div class = "shelf">
                      {{item.shelfA}}
                      {{item.shelfASup}}<br>
                      {{item.shelfB}}
                      {{item.shelfBSup}}<br>
                      {{item.shelfC}}
                      {{item.shelfCSup}}<br>
                      </div>
                     <div class="workers">
                       {{item.workerList[0].workerName}} <br>
                        {{item.workerList[1].workerName}} 
                              
                     </div>
                      

                    </div>
                  </li>
                  
              </ul>
            </div>

            <div class="env">
              <ul>
                
                  <li *ngFor="let item of section2" #elem1 id={{item.id}}>
                        <div class="step">
                          {{ item.name}}
                          
                          <div class="area"> {{item.type}}</div>
                          <div class = "shelf">
                          {{item.shelfA}}
                          {{item.shelfASup}}<br>
                          {{item.shelfB}}
                          {{item.shelfBSup}}<br>
                          {{item.shelfC}}
                          {{item.shelfCSup}}<br>
                          
                          </div>
                         <div class="workers">
                          {{item.workerList[0].workerName}}<br>
                          {{item.workerList[1].workerName}}
                         </div>
                    
                        </div>
                        
                  </li>
                  
              </ul>
            </div>
            <div class="env">
              <ul>
                  <li *ngFor="let item of section3" #elem2 id={{item.id}}>
                            <div class="step">
                              {{ item.name}} 
                              <div class="area"> {{item.type}}</div>
                              <div class = "shelf">
                              {{item.shelfA}}
                              {{item.shelfASup}}<br>
                              {{item.shelfB}}
                              {{item.shelfBSup}}<br>
                              {{item.shelfC}}
                              {{item.shelfCSup}}<br>
                              </div>
                             <div class="workers">
                                {{item.workerList[0].workerName}} <br>
                               {{item.workerList[1].workerName}} 
                              
                             </div>
                    
                    </div>
                  </li>
              </ul>
            </div>
            <div class="env">
              <ul>
                  <li *ngFor="let item of section4" #elem3 id={{item.id}}>
                            <div class="step">
                              {{ item.name}} 
                              <div class="area"> {{item.type}}</div>
                              <div class = "shelf">
                              {{item.shelfA}}
                              {{item.shelfASup}}<br>
                              {{item.shelfB}}
                              {{item.shelfBSup}}<br>
                              {{item.shelfC}}
                              {{item.shelfCSup}}<br>
                              </div>
                             <div class="workers">
                              {{item.workerList[0].workerName}}
                              {{item.workerList[1].workerName}}
                             </div>
                    
                    </div>
                  </li>
              </ul>
            </div>
            <div class="env">
              <ul>
                  <li *ngFor="let item of section5" #elem3 id={{item.id}}>
                            <div class="step">
                              {{ item.name}} 
                              <div class="area"> {{item.type}}</div>
                              <div class = "shelf">
                              {{item.shelfA}}
                              {{item.shelfASup}}<br>
                              {{item.shelfB}}
                              {{item.shelfBSup}}<br>
                              {{item.shelfC}}
                              {{item.shelfCSup}}<br>
                              </div>
                             <div class="workers">
                              {{item.workerList[0].workerName}}
                              {{item.workerList[1].workerName}}
                             </div>
                    
                    </div>
                  </li>
              </ul>
            </div>
            <div class="env">
              <ul>
                  <li *ngFor="let item of section6" #elem3 id={{item.id}}>
                            <div class="step">
                              {{ item.name}} 
                              <div class="area"> {{item.type}}</div>
                              <div class = "shelf">
                              {{item.shelfA}}
                              {{item.shelfASup}}<br>
                              {{item.shelfB}}
                              {{item.shelfBSup}}<br>
                              {{item.shelfC}}
                              {{item.shelfCSup}}<br>
                              </div>
                             <div class="workers">
                              {{item.workerList[0].workerName}}
                              {{item.workerList[1].workerName}}
                             </div>
                    
                    </div>
                  </li>
              </ul>
            </div>

          </div>
          
        </div>

            

 



      </div>
    </div>
    
  </div>
</div>
